.header {
  background-color: #f4f2de;
  padding: 1rem;
  text-align: center;
}

.header-title {
  color: #333;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.header-nav-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header-nav-item {
  margin: 0 0.5rem;
  cursor: pointer;
  text-decoration: underline;
}

.header-nav-item:hover {
  color: #ff0000;
}
